/node_modules
/public/hot
/public/uploads
/public/storage
/public/adminer.php
/public/adminer.css
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
Vagrantfile
after.sh
aliases
npm-debug.log
yarn-error.log
.env
_ide_helper.php
/app/.php_cs.cache
/app/Http/controllers/.php_cs.cache
